{% extends 'layout.html.twig' %}

{% block title %}Ajouter une info{% endblock %}

{% block content %}
    <h1>Ajouter une info</h1>
    <form method="post">
        <input type="hidden" name="user_id" value="{{ message.user_id }}">
        <div>
            <label for="title" class="form-label mt-4">Titre : </label>
            <input type="text" name="title" class="form-control" value="{{ message.title }}">
        </div>
        <div class="form-group">
            <label for="message" class="form-label mt-4">Message :</label>
            <textarea class="form-control" name="message" rows="3">{{ message.message }}</textarea>
        </div>

        <input type="submit" class="btn btn-primary mt-3 mb-3" value="Ajouter l'info">
    </form>
<a href="/user/forteacher/{{ message.user_id }}" class="mt-3">retourner sur l'élève</a>
{% endblock %}
